.link {
	display: flex;
	justify-content: center;
	width: 100%;
}

.unstyled_button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--mantine-spacing-xs);
	border-radius: var(--mantine-radius-sm);
	background-color: none;
	height: 40px;

	@mixin dark {
		color: var(--mantine-color-gray-0);
	}
	@mixin light {
		color: var(--mantine-color-black);
	}

	@mixin hover {
		background-color: var(--mantine-primary-color-light);
	}
	&.active {
		color: var(--mantine-color-white);
		background-color: var(--mantine-primary-color-filled);
		@mixin hover {
			background-color: var(--mantine-primary-color-filled-hover);
		}
	}

	@media (min-width: $mantine-breakpoint-sm) {
		justify-content: center;
		align-items: center;
		width: 100%;
		.text {
			display: none;
		}
	}
}
